<div class="container-fluid g-0">
  <app-navbare (sideNavToggled)="sideNavStatus = $event"></app-navbare>

  <main>
    <app-sidebare
      [sideNavStatus]="sideNavStatus"
      [ngClass]="{ 'app-side-nav-open': sideNavStatus }"
    ></app-sidebare>
    <div
      class="display-area p-3"
      [ngClass]="{ 'display-area-shrink': sideNavStatus }"
    >
      <section class="categorie" id="categorie">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 modale">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Ajout catégorie
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Ajoute catégorie
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="form">
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="nom"
                            placeholder="name categorie"
                            [(ngModel)]="nomCategorie"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="description"
                            placeholder="description"
                            [(ngModel)]="description"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-success"
                        (click)="addCategories()"
                      >
                        Add Categorie
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <table class="table table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Nom catégorie</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categorie of categorieList">
                    <td>{{ categorie.nomCategorie }}</td>
                    <td>{{ categorie.description }}</td>
                    <td>
                    
                    
                      <!-- Button trigger modal -->
<a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" getAllModalCategories(categorie)">
  <img
  src="../../../assets/image/bouton-modifier (3).png"
  alt=""
/>
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update catégorie</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     
        <div class="form">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="nom"
              placeholder="name categorie"
              [(ngModel)]="nomCategorie"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="description"
              placeholder="description"
              [(ngModel)]="description"
            />
          </div>
        </div>      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning"
         data-bs-dismiss="modal" (click)="updateCategorie()">Update</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

                    
                      &nbsp;&nbsp; &nbsp;&nbsp;
                      <a (click)="deleteCategories(categorie)" 
                        ><img
                          src="../../../assets/image/corbeillee.png"
                          alt=""
                        />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
