.produit{
    margin: 0px auto;
}
.produit .modale{
    display: flex;
    justify-content: flex-end;

    padding: 50px 10px;
}
td{
    font-weight: 500;
}
td a{
  cursor: pointer;
}

.black-border{
    border: 1px solid black;
  }
  app-navbare{
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
    z-index: 2;
  }
  main{
    position: absolute;
    width: 100%;
    top: 4rem;
  }
  app-sidebare{
    position: absolute;
    left: 0rem;
    width: 60px;
    height: calc(100vh - 4rem);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    background-color: rgb(34, 34, 34, 1);
    border-top: 1px solid white;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
  }
  app-product{
    z-index: 10;
  }
  .app-side-nav-open{
    width: 250px;
  
  }
  .display-area{
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    transition: width 250ms ease-in, width 250ms ease-in;;
  }
  .display-area-shrink{
    width: calc(100% - 250px);
    left:250px;
  }
  
  