<div class="container-fluid g-0">
  <app-navbare (sideNavToggled)="sideNavStatus = $event"></app-navbare>

  <main>
    <app-sidebare
      [sideNavStatus]="sideNavStatus"
      [ngClass]="{ 'app-side-nav-open': sideNavStatus }"
    ></app-sidebare>
    <div
      class="display-area p-3"
      [ngClass]="{ 'display-area-shrink': sideNavStatus }"
    >
      <section class="produit" id="produit">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 modale">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Add produit
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Ajout Produit
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body py-5">
                      <div class="form">
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="produit"
                            placeholder="Nom produit"
                            [(ngModel)]="nomProduit"
                          />
                        </div>
                        <div class="mb-3">
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            [(ngModel)]="Categorie"
                          >
                            <option selected disabled>
                              Choisir une Catégorie
                            </option>
                            <option *ngFor="let categorie of categorieList">
                              {{ categorie.nomCategorie }}
                            </option>
                          </select>
                          <!-- {{ selected}} -->
                        </div>

                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="input1"
                            placeholder="Prix produit"
                            [(ngModel)]="prixProduit"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-outline-warning"
                        (click)="addProduits()"
                      >
                        Add Produit
                      </button>
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <table class="table table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Nom produit</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Prix produit FCFA</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produit of produitList">
                    <td>{{ produit.nomProduit }}</td>
                    <td>   {{ produit.Categorie}}</td>
                    <td>{{ produit.prixProduit }}</td>
                    <td>
                     
          <!-- Button trigger modal -->
          <a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getAllModalProduits(produit)" >
            <img
            src="../../../assets/image/bouton-modifier (3).png"
            alt=""
          />
          </a>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Update Produit</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
               
                  <div class="form">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="produit"
                        placeholder="Nom produit"
                        [(ngModel)]="nomProduit"
                      />
                    </div>
                    <div class="mb-3">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        [(ngModel)]="Categorie"
                      >
                        <option selected disabled>
                          Choisir une Catégorie
                        </option>
                        <option *ngFor="let categorie of categorieList">
                          {{ categorie.nomCategorie }}
                        </option>
                      </select>
                      <!-- {{ selected}} -->
                    </div>

                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="input1"
                        placeholder="Prix produit"
                        [(ngModel)]="prixProduit"
                      />
                    </div>
                  </div>
          
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="updateProduit()" >Update</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
          




                      &nbsp;&nbsp; &nbsp;&nbsp;
                      <a (click)="deleteProduits(produit)"
                        ><img src="../../../assets/image/corbeillee.png" alt=""
                      /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
