<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-2 text-light" (click)="SideNavToggle()">
    <i class="fas fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" href="#"><h3>Admin</h3></a>
  <div class="navbar-collapse">
    <ul>
      <li></li>
    </ul>
  </div>
  <form class="d-flex me-5">
    <input type="search" class="form-control me-2" placeholder="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>
  <button class="btn btn-danger" (click)="register()">Déconnecte</button>
</nav>
