<div class="container-fluid">
  <div class="row">
    <div class="col centre">
      <div class="card">
        <div class="card-title"><h1>Inscription</h1></div>
        <div class="card-body">
          <div class="form">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="email"
                placeholder="name@example.com"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                placeholder="password"
               
              />
            </div>
         
            <button class="btn btn-primary" (click)=" register()">S'inscrire</button>
          </div>
        
        </div>
      
      </div>
      <p>allez à la page de <a href="/connecte">connection</a></p>
    </div>
  </div>
</div>
