<div class="side-nav-content">
  <ul class="nav-list" [ngClass]="{ 'nav-list-open': sideNavStatus }">
    <li [routerLink]="['/dashboard']" class="nav-list-item">
      <a><i class="fas fa-warehouse"></i>dashboard</a>
    </li>
    <li [routerLink]="['/user']" class="nav-list-item">
      <a><i class="fas fa-user-plus"></i>User</a>
    </li>
    <li [routerLink]="['/produit']" class="nav-list-item">
      <a><i class="fas fa-shopping-cart"></i>Produit</a>
    </li>
    <li [routerLink]="['/categorie']" class="nav-list-item">
      <a><i class="fas fa-chart-bar"></i>Categorie</a>
    </li>
  </ul>
</div>
