.centre {
  margin: 100px auto;
  padding: 0 200px;
}
.card-title {
  background-color: rgb(180, 243, 180);
  color: white;
  text-align: center;
}
input{
    font-weight: 500;
}

@media (max-width: 575.98px) {
  .centre {
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .centre {
    padding: 0 20px;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
