<div class="container-fluid">
    <div class="row">
      <div class="col centre">
        <div class="card">
          <div class="card-title"><h1>connection</h1></div>
          <div class="card-body">
            <div class="form">
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="input1"
                  placeholder="name@example.com"
                  [(ngModel)]="email"
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="input2"
                  placeholder="password"
                  [(ngModel)]="password"
                />
              </div>
              <button class="btn btn-success" (click)="login()">Se connecte</button>
            </div>
          
          </div>
        
        </div>
        <p>allez à la page de <a href="/inscription">inscription</a></p>
      </div>
    </div>
  </div>
  
