.dashbord {
  margin-top: 50px;
}
.dashbord .a {
  border-left: 5px solid green;
  background-color: rgb(223, 248, 223);
}
.dashbord .b {
  border-left: 5px solid yellow;
  background-color: rgb(248, 248, 217);
}
.dashbord .c {
  border-left: 5px solid red;
  background-color: rgb(247, 225, 225);
}
.dashbord .card-title {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.664);
}
.dashbord .card-body img {
  margin-top: 10px;
  background-color: black;
}


.black-border{
  border: 1px solid black;
}
app-navbare{
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  z-index: 2;
}
main{
  position: absolute;
  width: 100%;
  top: 4rem;
}
app-sidebare{
  position: absolute;
  left: 0rem;
  width: 60px;
  height: calc(100vh - 4rem);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  background-color: rgb(34, 34, 34, 1);
  border-top: 1px solid white;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;
}
app-product{
  z-index: 10;
}
.app-side-nav-open{
  width: 250px;

}
.display-area{
  position: absolute;
  left: 60px;
  width: calc(100% - 60px);
  transition: width 250ms ease-in, width 250ms ease-in;;
}
.display-area-shrink{
  width: calc(100% - 250px);
  left:250px;
}
 .dashbord.carte1{
  width: 500px;
  height: 300px;
 }
 .dashbord.carte2{
  width: 500px;
  height: 300px;
 }
.carte img{
  width: 100%;
  height: 100%;
}


@media (max-width: 575.98px) {
  /* .carte img{
    width: 500px;
    height: 200px;
  } */
}

@media (max-width: 767.98px) {
  .centre {
    padding: 0 20px;
  }
}


@media (max-width: 991.98px) {
  /* .carte img{
    width: 300px;
    height: 200px;
  } */

}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
