<div class="container-fluid g-0">
  <app-navbare (sideNavToggled)=" sideNavStatus = $event"></app-navbare>
  
  <main>
      <app-sidebare [sideNavStatus]="sideNavStatus "
       [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-sidebare>
      <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
     
        <section class="dashbord" id="dasbhord">
          <div class="container-fluid">
            <div class="row px-2 py-3">
              <div class="col-12 col-md-4 px-2 py-3">
                <div class="card a shadow">
                  <div class="card-title"><h5>Users</h5></div>
                  <div class="card-body d-flex">
                   
                    <img
                      src="../../../assets/image/droit (1).png"
                      width="24px"
                      height="24px"
                      alt="sqi"
                    />
                    &nbsp; &nbsp; &nbsp;
                    <h2>{{userList.length}}</h2>
                 
                </div>
                </div>
              </div>
              <div class="col-12 col-md-4 px-2 py-3">
                <div class="card b shadow">
                  <div class="card-title"><h5>Produits</h5></div>
                  <div class="card-body d-inline-flex">
                    <img
                      src="../../../assets/image/droit (1).png"
                      width="24px"
                      height="24px"
                      alt="sqi"
                    />
                    &nbsp; &nbsp; &nbsp;
                    <h2>{{ProduitList.length}}</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 px-2 py-3">
                <div class="card c shadow">
                  <div class="card-title"><h5>Catégories</h5></div>
                  <div class="card-body d-flex">
                    <img
                      src="../../../assets/image/droit (1).png"
                      width="24px"
                      height="24px"
                      alt="sqi"
                    />
                    &nbsp; &nbsp; &nbsp;
                    <h2>{{categorieList.length}}</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row px-2 py-3 carte">
              <div class="col-12 col-md-6 px-2 py-3">
                <div carte1>
                  <img src="../../../assets/image/Angular-12-Chartjs-with-Dynamic-Data.png" alt="ddi">
                </div>

              </div>
              <div class="col-12 col-md-6 px-2 py-3">
                <div class="carte2">
                  <img src="../../../assets/image/SY5hu.png" alt="didid">
                </div>

              </div>

              
            
          </div>
          </div>
        </section>

      </div>
  </main>
  </div>


